<link rel="stylesheet" href="./css/food_request.css">

<div class="bg">
</div>
<form method="get" action="/daily-req">
<div class="container">
	<div class="text-block">
		<h4 align="center">Food Requirements</h4>
		<p class="p1">Calories [Max] </p> <input name="max" type=text border-radius="26px" id="Cal_max" >
		<p class="p2">Calories [Min]</p> <input name="min" type=text border-radius="26px" id="Cal_min" >

		<button id="SubmitButton" class="btn btn-info" type="Submit">Submit</button>

	         <div class="dietlist">
                 <font color="#e4ff00"> <h3>Diets</h3></font>
        	 <select name="diet" size="6">
          		 <option value="balanced">Balanced</option>
          		 <option value="high-protein">High-Protein</option>
        		 <option value="low-carb">Low-Carb</option>
       		 </select>
          </div>

         <div class="allergieslist">
            <font color="#e4ff00"> <h3>Allergies/Health</h3></font>
            <select name="health" size="6">
                  <option value="alcohol-free">Alcohol-free</option>
                  <option value="peanut-free">Peanut-free</option>
                  <option value="sugar-conscious">Sugar-conscious</option>
                  <option value="tree-nut-free">Tree nut-free</option>
                  <option value="vegan">Vegan</option>
                  <option value="vegetarian">Vegetarian</option>
            </select>
       </div>
       <div>
          {{#if error}}
              <font color="#e4ff00">{{error}}</font>
           {{/if}}              
       </div>
 
</div>

</div>
</form>
