<link rel="stylesheet" href="./css/mainPage.css" />

<div class="bg">
  <div id="content">What's For Dinner?</div>
  <div id="info">Choose a meal plan option: </div>
  <button onclick="location.href='/daily'" id="daily" class="btn btn-info">Daily</button>
  <button onclick="location.href='/weekly'" id="weekly" class="btn btn-info">Weekly</button>
</div>
