#SubmitButton {
position: absolute;
top: 90%;
left: 90%;
transform: translate(-50%, -50%);
font-family: "Times New Roman", Times, serif;
font-style: oblique;
font-size: 20px;
font-weight: bold;

}

.bg,body, html {
height: 100%;
margin: 0;
background-image: url("../pics/requirements.jpg");
background-position: center;
background-size: cover;
overflow-x: hidden

}

/*For adding a font style and animation*/
.container {
  position: relative;
  font-family: Sofia,Jokerman;
  animation-name: example;
  animation-duration: 2s;

}

/*For ADding a transparent box over the text*/
.text-block {
  border-radius: 25px;
  position: absolute;
  height: 450px;
  width: 800px;
  bottom: 100px;
  right: 400px;
  background-color: #5555554f;
  color: white;
  padding-left: 20px;
  padding-right: 20px;

  }
/*background*/
.bg {

background-image: url("requirements.jpg");
height: 100%;
background-position: center;
background-size: cover;
  }

  /*Animation Code*/
  @keyframes example {
      0%   { left:100px; top:0px;}
      100%  { left:0px; top:0px;}

  }
.h4, h4 {
  font-size: 30px;
  color:#e4ff00;

  }

.p1 {
  font-size: 20px;
  font-family: Sofia,Jokerman;
  color:#e4ff00;
  margin-top: 11%;
  margin-left: 5%;

}

.p2
{
font-size: 20px;
font-family: Sofia,Jokerman;
color:#e4ff00;
margin-top: 5%;
margin-left: 5%;
}

input{
background-color: #cfdeb08a;
margin-left: 6%;
text-indent: 5%;
text-color: yellow;
font-weight: bold;
}

.dietlist{
  position: relative;
  bottom: 41%;
  right: -42%;
  color: black;

}

.allergieslist {
  position: relative;
  bottom: 85%;
  right: -70%;
  color: black;
}

select{
  width: 200px;
}
